# Ignore Gradle project-specific cache directory
.gradle
kls_database.db

# Ignore Gradle build output directory
build

/run

/fork-server/build.gradle.kts
/fork-server/src/minecraft
/paper-server
/fork-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/

# Ignore patch reject files
*.rej
