# Ignore Gradle project-specific cache directory
.gradle
kls_database.db

# Ignore Gradle build output directory
build

/run

/forky-server/build.gradle.kts
/forky-server/src/minecraft
/paper-server
/fork-server
/forky-api/build.gradle.kts
/paper-api
/paper-api-generator
/fork-api

.idea/

# Ignore patch reject files
*.rej
